.iconsito50 {
    max-width: 40px; 
    max-height: 40px;
    margin-left: 5px;
}

.iconsitomenu {
    max-width: 30px; 
    max-height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.logoMenu {
 width: 123px; 
 height: 32px;
 margin-left: 12px;
 margin-top: 12px;
}


.huellalogin {
    max-width: 40px; 
    max-height: 40px;
    margin-right: 40px;
}

.hamburguesita{
    margin-left: 8px;
    margin-top: 15px;
    max-width: 30px; 
    max-height: 30px;
}

.logindi {
  margin-top: 5rem;
}

.btnmedidaini {
  width: 188px;
}

.btnmedida {
  width: 150px;
}

.longdef {
  margin-top: 2.5rem;
}

.fecNac{
  color: #777;
  margin-top: -5px;
  text-align: left;
}

.colorFondoW {
  background: white ;
  color:#d32f2f;
    
}


.colorFondoLogo {
  background: #d32f2f ;
  color: white;
}

.colorLogo {
  color: #d32f2f ;
}

.colorLogoOb{
  color: #ad1457;
}


.colorpie1{
  color: "orange"; 
}

.colorpie2{
  color: "tomato";
}

.colorpie3{
  color: "crimson";
}


/*
#d32f2f red darken-2
y
#ad1457 pink darken-3
*/


input[type="radio"].toggle {
  display: none  !important;
}

.switch-field {
   overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 80px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}